<!DOCTYPE html>
<html dir="ltr" lang="sr">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <!-- SEO Meta Tags -->
    <meta
        name="keywords"
        content="event management, događaji, organizacija događaja, event app, upravljanje događajima"
    />
    <meta
        name="description"
        content="Event App - Aplikacija za upravljanje i organizaciju događaja. Kreirajte, organizujte i pratite vaše događaje."
    />
    <meta name="author" content="Event App Team"/>
    
    <title>Event App - Upravljanje događajima</title>
    
    <!-- Favicon -->
    <link
        rel="icon"
        type="image/png"
        sizes="16x16"
        href="/assets/images/favicon.png"
    />
    
    <!-- External CSS Libraries -->
    <link href="/assets/libs/flot/css/float-chart.css" rel="stylesheet"/>
    
    <!-- Custom Application CSS -->
    <link href="/dist/css/style.min.css" rel="stylesheet"/>
    
    <!-- IE8 Support -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Application Preloader -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    
    <!-- Main Application Wrapper -->
    <div
        id="main-wrapper"
        data-layout="vertical"
        data-navbarbg="skin5"
        data-sidebartype="full"
        data-sidebar-position="absolute"
        data-header-position="absolute"
        data-boxed-layout="full"
    >